{% extends 'base.html' %}

{% block content %}
{% comment %} <div class="container" style="max-width:800px; margin:80px auto;"> {% endcomment %}
<div class="container" style="max-width:800px; margin:30px auto 50px auto;">

    <form method="post" class="form">

        <h2>Donor Login</h2>

        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button class="btn">Login</button>

        <p style="margin-top:15px;">
            New donor?
            <a href="{% url 'donor_register' %}">Create account</a>
        </p>

    </form>

</div>

{% endblock %}